<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/stylesheets::head">

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/header::header"></header>

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/sidebar::sidebarMenu"></aside>

<main class="main" id="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
            </ol>
        </nav>
    </div>

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img alt="Profile" class="rounded-circle" src="/assets/img/img.png">
                        <h2 th:text="${loggedInUser != null ? loggedInUser.firstName+' '+loggedInUser.lastName : 'Guest'}">
                            Kevin Anderson</h2>
                        <div class="social-links mt-2">
                            <a class="facebook" href="#"><i class="bi bi-facebook"></i></a>
                            <a class="instagram" href="#"><i class="bi bi-instagram"></i></a>
                            <a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-target="#profile-overview" data-bs-toggle="tab">
                                    Overview
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-target="#profile-edit" data-bs-toggle="tab">Edit
                                    Profile
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-target="#profile-change-password" data-bs-toggle="tab">
                                    Change Password
                                </button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">About</h5>
                                <p class="small fst-italic">This is all about myself.</p>

                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">First Name</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="${loggedInUser != null ? loggedInUser.firstName : 'Guest'}">Kevin
                                        Anderson
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Last Name</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="${loggedInUser != null ? loggedInUser.lastName : 'Guest'}">Kevin
                                        Anderson
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="${loggedInUser != null ? loggedInUser.email : 'Guest'}">Web Designer
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form method="POST" th:action="@{'/profile/update/' + ${user.id}}" th:object="${user}">

                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label" for="firstName">First
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input
                                                    class="form-control"
                                                    id="firstName"
                                                    name="firstName"
                                                    placeholder="Enter First Name"
                                                    th:classappend="${#fields.hasErrors('firstName') ? 'is-invalid' : ''}"
                                                    th:field="*{firstName}"
                                                    th:value="${user.firstName}"
                                                    type="text"
                                            >
                                            <div class="invalid-feedback" style="font-size: 15px"
                                                 th:each="error : ${#fields.errors('firstName')}"
                                                 th:text="${error}"></div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label" for="firstName">Full
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input
                                                    class="form-control"
                                                    id="lastName"
                                                    name="lastName"
                                                    placeholder="Enter Last Name"
                                                    th:classappend="${#fields.hasErrors('lastName') ? 'is-invalid' : ''}"
                                                    th:field="*{lastName}"
                                                    th:value="${user.lastName}"
                                                    type="text"
                                            >
                                            <div class="invalid-feedback" style="font-size: 15px"
                                                 th:each="error : ${#fields.errors('lastName')}"
                                                 th:text="${error}"></div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-primary" type="submit">Save Changes</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form>

                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label" for="currentPassword">Current
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control" id="currentPassword" name="password"
                                                   type="password">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label" for="newPassword">New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control" id="newPassword" name="newpassword"
                                                   type="password">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label" for="renewPassword">Re-enter New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control" id="renewPassword" name="renewpassword"
                                                   type="password">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-primary" type="submit">Change Password</button>
                                    </div>
                                </form><!-- End Change Password Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer class="main-footer" th:replace="fragments/footer::footer"></footer>

<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>

<div th:replace="fragments/scripts :: scripts"></div>

</body>

</html>