<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<aside class="sidebar" id="sidebar" th:fragment="sidebarMenu">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " th:href="@{/dashboard}"
               th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard' ? 'active':''}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/profile}"
               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/profile') ? 'active':''}"
               sec:authorize="hasAnyAuthority('Admin', 'Employee', 'SuperAdmin')">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/users}"
               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/users') ? 'active':''}">
                <i class="bi bi-people"></i>
                <span>User</span>
            </a>
        </li><!-- End User Page Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/roles}"
               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/roles') ? 'active':''}">
                <i class="bi bi-list-check"></i>
                <span>Role</span>
            </a>
        </li><!-- End Role Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/organizations}"
               th:classappend="${#httpServletRequest.getRequestURI().startsWith('/organizations') ? 'active':''}">
                <i class="bi bi-house"></i>
                <span>Organization</span>
            </a>
        </li><!-- End organization Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="template-pages/pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="template-pages/pages-contact.html">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/logout}">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Logout</span>
            </a>
        </li><!-- End Login Page Nav -->

    </ul>

</aside><!-- End Sidebar-->

</body>
</html>