<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>

</head>
<body>

<div th:unless="${param.edit}" class="CreateOrg">
  <h1>Create New Organization</h1>
    <form th:action="@{/organizations/create}" th:object="${createRequest}" method="post">
      <p>Name: <input type="text" th:field="*{name}" /></p>
      <p><input type="submit" value="Submit" /></p>
    </form>

    <div th:if="${param.error}">
      Failed.
    </div>

</div>
</body>
</html>