<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/stylesheets::head">
    <title>Login</title></head>
<body>

<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a class="logo d-flex align-items-center w-auto" th:href="@{/}">
                                <img alt="" src="/assets/img/logo.png">
                                <span class="d-none d-lg-block">ERP Login</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Account Information</h5>
                                </div>

                                <form class="row g-3 needs-validation" method="post" novalidate th:action="@{/login}">

                                    <div th:if="${param.error}">
                                        <p class="text-danger text-center">
                                            [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                                    </div>
                                    <div th:if="${param.logout}">
                                        <p class="text-warning">You have been logged out</p>
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label" for="yourUsername">Username</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input class="form-control" id="yourUsername" name="email" required
                                                   type="text">
                                            <div class="invalid-feedback">Please enter your username.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label" for="yourPassword">Password</label>
                                        <input class="form-control" id="yourPassword" name="password" required
                                               type="password">
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" id="rememberMe" name="remember-me"
                                                   type="checkbox" value="true">
                                            <label class="form-check-label" for="rememberMe">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Login</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Don't have account? <a th:href="@{/register/create}">Create
                                            an account</a></p>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- End #main -->

<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>

